In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('НТА Тест PBI Пассажиропоток.xlsx')
df.head()

,Тип ТК,Дата,Гар №,Кол-во поездок,Сумма поездок,Всего пассажиров
0,школьный ПБ,2021-01-11,2301,30,313,32
1,школьный ПБ,2021-01-12,2301,14,143,14
2,школьный ПБ,2021-01-13,2301,20,206,20
3,школьный ПБ,2021-01-14,2301,26,269,26
4,школьный ПБ,2021-01-15,2301,32,334,33

In [4]:
types = df['Тип ТК'].unique()
types

array(['школьный ПБ', 'СтуденьческийПБ', 'ПБ 60 дней',
       'Единый социальный ПБ', 'ПБ 30 дней', 'ЭК', 'БК', 'НАЛ'],
      dtype=object)

In [ ]:
need_list = []
for i in types:
    if 'БК' in i:
        category = 'БК'
        commission = 0.075
    elif 'НАЛ' in i:
        category = 'НАЛ'
        commission = 0.02
    elif 'ЭК' in i:
        category = 'ЭК' 
        commission = 0.07
    elif 'ПБ' in i:
        category = 'ПБ'
        commission = 0.06
    else:
        category = 'Другое'
        commission = 0
    
    need_list.append({'Тип ТК': i, 'Категория': category, 'Комиссия': commission})
need_list

[{'Тип ТК': 'школьный ПБ', 'Категория': 'ПБ', 'Комиссия': 0.06},
 {'Тип ТК': 'СтуденьческийПБ', 'Категория': 'ПБ', 'Комиссия': 0.06},
 {'Тип ТК': 'ПБ 60 дней', 'Категория': 'ПБ', 'Комиссия': 0.06},
 {'Тип ТК': 'Единый социальный ПБ', 'Категория': 'ПБ', 'Комиссия': 0.06},
 {'Тип ТК': 'ПБ 30 дней', 'Категория': 'ПБ', 'Комиссия': 0.06},
 {'Тип ТК': 'ЭК', 'Категория': 'ЭК', 'Комиссия': 0.07},
 {'Тип ТК': 'БК', 'Категория': 'БК', 'Комиссия': 0.075},
 {'Тип ТК': 'НАЛ', 'Категория': 'НАЛ', 'Комиссия': 0.02}]

In [6]:
result_df = pd.DataFrame(need_list)
result_df

                 Тип ТК Категория  Комиссия
0           школьный ПБ        ПБ     0.060
1       СтуденьческийПБ        ПБ     0.060
2            ПБ 60 дней        ПБ     0.060
3  Единый социальный ПБ        ПБ     0.060
4            ПБ 30 дней        ПБ     0.060
5                    ЭК        ЭК     0.070
6                    БК        БК     0.075
7                   НАЛ       НАЛ     0.020

In [7]:
result_df.to_excel('Типы ТК.xlsx', index=False)