In [1]:
import pandas as pd

In [2]:
company_data= {
    'company_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'company_name': [
        'SBERBANK LLC', 'VTB Corporation', 'SBER Technologies', 
        'Gazprom Energy', 'Rosneft Trading', 'SBER Investments', 
        'Lukoil Services', 'Tinkoff Bank', 'Alpha Bank', 'SBER Digital'
    ]
}

contract_data = {
    'contract_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'contract_number': [
        'CNT-2023-001', 'CNT-2023-002', 'CNT-2023-003', 
        'CNT-2023-004', 'CNT-2023-005', 'CNT-2023-006', 
        'CNT-2023-007', 'CNT-2023-008', 'CNT-2023-009', 
        'CNT-2023-010', 'CNT-2023-011', 'CNT-2023-012'
    ]
}

company_contract_data = {
    'company_id': [1, 1, 1, 2, 2, 3, 3, 4, 6, 6, 7, 8, 10],
    'contract_id': [1, 5, 8, 2, 6, 3, 7, 4, 9, 10, 11, 12, 11]
}

company = pd.DataFrame(company_data)
contract = pd.DataFrame(contract_data)
company_contract = pd.DataFrame(company_contract_data)

In [3]:
merge_data = (company_contract
              .merge(company, how='left', on='company_id')
              .merge(contract, how='left', on='contract_id'))
merge_data

    company_id  contract_id       company_name contract_number
0            1            1       SBERBANK LLC    CNT-2023-001
1            1            5       SBERBANK LLC    CNT-2023-005
2            1            8       SBERBANK LLC    CNT-2023-008
3            2            2    VTB Corporation    CNT-2023-002
4            2            6    VTB Corporation    CNT-2023-006
5            3            3  SBER Technologies    CNT-2023-003
6            3            7  SBER Technologies    CNT-2023-007
7            4            4     Gazprom Energy    CNT-2023-004
8            6            9   SBER Investments    CNT-2023-009
9            6           10   SBER Investments    CNT-2023-010
10           7           11    Lukoil Services    CNT-2023-011
11           8           12       Tinkoff Bank    CNT-2023-012
12          10           11       SBER Digital    CNT-2023-011

In [7]:
mask = merge_data['company_name'].str.contains('SBER')
sber_companies = merge_data[mask] 
sber_companies
mask

0      True
1      True
2      True
3     False
4     False
5      True
6      True
7     False
8      True
9      True
10    False
11    False
12     True
Name: company_name, dtype: bool

In [10]:
sber = merge_data[merge_data['company_name'].str.contains('SBER')][['contract_number']]
sber

   contract_number
0     CNT-2023-001
1     CNT-2023-005
2     CNT-2023-008
5     CNT-2023-003
6     CNT-2023-007
8     CNT-2023-009
9     CNT-2023-010
12    CNT-2023-011