In [1]:
import pandas as pd

In [2]:
regions_data = {
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'name': ['Moscow region', 'Lviv region', 'Styria', 'Tyrol', 'Bavaria', 'Berlin', 'Kyiv region', 'Almaty region', 'Nur-Sultan region', 'Saint Petersburg region'],
    'countryid': [1, 3, 4, 4, 5, 5, 3, 2, 2, 1]
}

cities_data = {
    'id': list(range(1, 21)),
    'name': ['Moscow', 'Saint Petersburg', 'Graz', 'Innsbruck', 'Munich', 'Berlin', 'Kyiv', 
             'Almaty', 'Nur-Sultan', 'Lviv', 'Salzburg', 'Nuremberg', 'Frankfurt', 
             'Hamburg', 'Dresden', 'Leipzig', 'Stuttgart', 'Dortmund', 'Vienna', 'Krakow'],
    'regionid': [1, 10, 3, 4, 5, 6, 7, 8, 9, 2, 4, 5, 5, 6, 6, 6, 5, 6, 4, 2],
    'population': [13000000, 5500000, 300000, 132000, 1470000, 3645000, 2884000, 
                   1850000, 1100000, 721301, 154211, 518365, 753056, 1841000, 
                   554649, 587857, 634830, 588462, 1897000, 766683]
}

df_regions = pd.DataFrame(regions_data)
df_cities = pd.DataFrame(cities_data)

In [3]:
df_cities.head()

   id              name  regionid  population
0   1            Moscow         1    13000000
1   2  Saint Petersburg        10     5500000
2   3              Graz         3      300000
3   4         Innsbruck         4      132000
4   5            Munich         5     1470000

In [4]:
df_regions.head()

   id           name  countryid
0   1  Moscow region          1
1   2    Lviv region          3
2   3         Styria          4
3   4          Tyrol          4
4   5        Bavaria          5

In [5]:
merge_df = df_regions.merge(df_cities, how='left', left_on='id', right_on='regionid')
merge_df.head()

   id_x         name_x  countryid  id_y     name_y  regionid  population
0     1  Moscow region          1     1     Moscow         1    13000000
1     2    Lviv region          3    10       Lviv         2      721301
2     2    Lviv region          3    20     Krakow         2      766683
3     3         Styria          4     3       Graz         3      300000
4     4          Tyrol          4     4  Innsbruck         4      132000

In [8]:
result = merge_df.groupby('name_x', as_index=False)['population'].sum()
result

                    name_x  population
0            Almaty region     1850000
1                  Bavaria     3376251
2                   Berlin     7216968
3              Kyiv region     2884000
4              Lviv region     1487984
5            Moscow region    13000000
6        Nur-Sultan region     1100000
7  Saint Petersburg region     5500000
8                   Styria      300000
9                    Tyrol     2183211

In [10]:
result = result.rename(columns={'name_x':'region_name', 'population':'total_population'})
result

               region_name  total_population
0            Almaty region           1850000
1                  Bavaria           3376251
2                   Berlin           7216968
3              Kyiv region           2884000
4              Lviv region           1487984
5            Moscow region          13000000
6        Nur-Sultan region           1100000
7  Saint Petersburg region           5500000
8                   Styria            300000
9                    Tyrol           2183211