In [1]:
import pandas as pd

In [2]:
cities = {
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
    'name': ['Moscow', 'Saint Petersburg', 'Graz', 'Innsbruck', 'Munich', 'Berlin', 
             'Kyiv', 'Almaty', 'Nur-Sultan', 'Lviv', 'Salzburg', 'Nuremberg', 
             'Frankfurt', 'Hamburg', 'Dresden', 'Leipzig', 'Stuttgart', 'Dortmund', 
             'Vienna', 'Krakow'],
    'regionid': [1, 10, 3, 4, 5, 6, 7, 8, 9, 2, 4, 5, 5, 6, 6, 6, 5, 6, 4, 2],
    'population': [13000000, 5500000, 300000, 132000, 1470000, 3645000, 2884000, 
                   1850000, 1100000, 721301, 154211, 518365, 753056, 1841000, 
                   554649, 587857, 634830, 588462, 1897000, 766683]
}

regions = {
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'name': ['Moscow region', 'Lviv region', 'Styria', 'Tyrol', 'Bavaria', 'Berlin',
             'Kyiv region', 'Almaty region', 'Nur-Sultan region', 'Saint Petersburg region'],
    'countryid': [1, 3, 4, 4, 5, 5, 3, 2, 2, 1]
}

countries= {
    'id': [1, 2, 3, 4, 5],
    'name': ['Russia', 'Kazakhstan', 'Ukraine', 'Austria', 'Germany']
}

In [3]:
cities_df = pd.DataFrame(cities)
regions_df = pd.DataFrame(regions)
countries_df = pd.DataFrame(countries)

In [5]:
merge_df = cities_df.merge(regions_df, left_on='regionid', right_on='id',suffixes=('_city', '_reg')).merge(countries_df, left_on='countryid', right_on='id', suffixes=('', '_cntr'))
merge_df.head()

,id_city,name_city,regionid,population,id_reg,name_reg,countryid,id,name
0,1,Moscow,1,13000000,1,Moscow region,1,1,Russia
1,2,Saint Petersburg,10,5500000,10,Saint Petersburg region,1,1,Russia
2,3,Graz,3,300000,3,Styria,4,4,Austria
3,4,Innsbruck,4,132000,4,Tyrol,4,4,Austria
4,5,Munich,5,1470000,5,Bavaria,5,5,Germany

In [7]:
result = merge_df[merge_df['name_city'] == 'Salzburg'][['name']].rename(columns={'name':'country_name'}).reset_index(drop=True)
result

  country_name
0      Austria