In [1]:
import pandas as pd

In [2]:
data = {
    'id': list(range(1, 101)),
    'department_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 
                      21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
                      41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
                      61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80,
                      81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100],
    'chief_id': [3, 1, 6, 5, 4, 6, 1, 3, 6, 3, 2, 3, 1, 3, 4, 6, 2, 3, 3, 3, 
                 6, 5, 5, 1, 2, 4, 3, 2, 6, 3, 3, 4, 3, 4, 5, 2, 2, 2, 3, 3,
                 5, 4, 6, 2, 2, 3, 4, 3, 3, 6, 6, 2, 1, 3, 4, 3, 5, 4, 4, 3,
                 1, 2, 5, 2, 2, 4, 5, 6, 6, 1, 1, 5, 1, 6, 6, 5, 4, 4, 4, 2,
                 6, 3, 6, 6, 3, 5, 3, 5, 5, 1, 6, 6, 2, 3, 2, 5, 3, 3, 3, 5],
    'name': ['Jennifer Le', 'Shawna Mcdaniel MD', 'Patrick Whitehead', 'Amanda Russell', 'April Goodwin', 
             'Barry Wood', 'Timothy Shields', 'James Spears', 'Chelsea Young', 'Brian Hawkins', 
             'Belinda Anderson', 'Stephen Schwartz', 'Crystal Herrera', 'Christopher Brown', 'Kenneth Maldonado',
             'Christina Jones', 'James Kim', 'Johnathan Hall', 'Steven Maldonado', 'Christian Johnson',
             'Adrian Zavala', 'Heather Murphy', 'Megan Brown', 'Randy Stephens', 'Donna Riley',
             'Patricia White', 'Amanda Rivera', 'Kaylee Hernandez', 'Peter Townsend', 'James Lewis',
             'Laura Duncan', 'Mr. Carl Moore', 'Raymond Martinez', 'Keith Edwards', 'Jeffrey Short',
             'Christine Foster', 'Matthew Allen', 'Melissa Barton', 'Jennifer White', 'Gregory Young',
             'Adam Anderson', 'Michael Rivas', 'Philip Johnson', 'Tyler Finley', 'Jenna Carr',
             'Alexander Perkins', 'Nicholas Stevens', 'Alejandro Richardson', 'Erik Lambert', 'David Blake',
             'Kristen Romero', 'Stacey Thornton', 'Christopher Lee', 'Crystal Anderson DDS', 'Dean Moore',
             'Amanda Chan', 'Latoya Johnson', 'Sheila Lopez', 'John Wall', 'Robert Gomez',
             'Gilbert Hardy', 'David Jenkins', 'Wendy Patel', 'Brian Williams', 'Paul Harris',
             'Jennifer Clark', 'Tyler Nelson', 'Sarah Jones', 'Sharon Webb', 'Richard Ward',
             'Aaron Vaughan', 'Joshua Gibbs', 'Sheila Reese', 'Laura Hernandez', 'Jack Schmidt',
             'Melissa Pierce', 'Christopher Nelson', 'Thomas Wallace', 'Brandon Moon', 'Mr. Lee Rodriguez',
             'Melody Henderson', 'Kathy Drake', 'Kim Cooper', 'Timothy Miller', 'Mike Jordan',
             'Ricardo Fisher', 'Michael Jackson', 'Rhonda Merritt', 'Angela Frye', 'Raymond Watson',
             'Brandon Macdonald', 'Emily Sanchez', 'Amanda Simpson', 'Christina Crane', 'Lorraine Davis',
             'Frances Fuller', 'James Hoffman', 'Zachary Jensen', 'David Chapman', 'Chelsey Schwartz'],
    'salary': [43578, 35204, 96605, 42293, 103190, 53451, 115784, 115773, 51143, 99228,
               86512, 96561, 50181, 115028, 87878, 47800, 113565, 87275, 92000, 107714,
               77864, 145703, 66490, 83142, 110222, 59705, 97234, 109223, 47123, 125538,
               75719, 80799, 83535, 89451, 38154, 103241, 30423, 129800, 69851, 98861,
               87063, 80418, 53317, 106151, 114969, 101850, 55436, 63012, 120372, 46614,
               119016, 106513, 67346, 90935, 61951, 23626, 110597, 44165, 131700, 64703,
               50746, 66919, 52546, 56996, 127395, 126519, 93999, 47766, 85841, 125455,
               160773, 32509, 160307, 114186, 99563, 89819, 91798, 110492, 108649, 33201,
               121015, 88077, 115000, 114611, 71372, 60487, 34214, 61160, 77036, 84053,
               35872, 62881, 86442, 79119, 57063, 82326, 97310, 70993, 35921, 50435]
}

In [3]:
df = pd.DataFrame(data)
df.head()

   id  department_id  chief_id                name  salary
0   1              1         3         Jennifer Le   43578
1   2              2         1  Shawna Mcdaniel MD   35204
2   3              3         6   Patrick Whitehead   96605
3   4              4         5      Amanda Russell   42293
4   5              5         4       April Goodwin  103190

In [13]:
merge_df = df.merge(df, how='left', left_on='chief_id', right_on='id', suffixes=('_emp', '_chief'))
merge_df.head(15)

,id_emp,department_id_emp,chief_id_emp,name_emp,salary_emp,id_chief,department_id_chief,chief_id_chief,name_chief,salary_chief
0,1,1,3,Jennifer Le,43578,3,3,6,Patrick Whitehead,96605
1,2,2,1,Shawna Mcdaniel MD,35204,1,1,3,Jennifer Le,43578
2,3,3,6,Patrick Whitehead,96605,6,6,6,Barry Wood,53451
3,4,4,5,Amanda Russell,42293,5,5,4,April Goodwin,103190
4,5,5,4,April Goodwin,103190,4,4,5,Amanda Russell,42293
5,6,6,6,Barry Wood,53451,6,6,6,Barry Wood,53451
6,7,7,1,Timothy Shields,115784,1,1,3,Jennifer Le,43578
7,8,8,3,James Spears,115773,3,3,6,Patrick Whitehead,96605
8,9,9,6,Chelsea Young,51143,6,6,6,Barry Wood,53451
9,10,10,3,Brian Hawkins,99228,3,3,6,Patrick Whitehead,96605
10,11,11,2,Belinda Anderson,86512,2,2,1,Shawna Mcdaniel MD,35204
11,12,12,3,Stephen Schwartz,96561,3,3,6,Patrick Whitehead,96605
12,13,13,1,Crystal Herrera,50181,1,1,3,Jennifer Le,43578
13,14,14,3,Christopher Brown,115028,3,3,6,Patrick Whitehead,96605
14,15,15,4,Kenneth Maldonado,87878,4,4,5,Amanda Russell,42293

In [12]:
result = merge_df[merge_df['salary_emp']>merge_df['salary_chief']][['id_emp','name_emp', 'salary_emp', 'name_chief', 'salary_chief']].reset_index(drop=True)
result

    id_emp            name_emp  salary_emp          name_chief  salary_chief
0        3   Patrick Whitehead       96605          Barry Wood         53451
1        5       April Goodwin      103190      Amanda Russell         42293
2        7     Timothy Shields      115784         Jennifer Le         43578
3        8        James Spears      115773   Patrick Whitehead         96605
4       10       Brian Hawkins       99228   Patrick Whitehead         96605
5       11    Belinda Anderson       86512  Shawna Mcdaniel MD         35204
6       13     Crystal Herrera       50181         Jennifer Le         43578
7       14   Christopher Brown      115028   Patrick Whitehead         96605
8       15   Kenneth Maldonado       87878      Amanda Russell         42293
9       17           James Kim      113565  Shawna Mcdaniel MD         35204
10      20   Christian Johnson      107714   Patrick Whitehead         96605
11      21       Adrian Zavala       77864          Barry Wood         53451
12      22      Heather Murphy      145703       April Goodwin        103190
13      24      Randy Stephens       83142         Jennifer Le         43578
14      25         Donna Riley      110222  Shawna Mcdaniel MD         35204
15      26      Patricia White       59705      Amanda Russell         42293
16      27       Amanda Rivera       97234   Patrick Whitehead         96605
17      28    Kaylee Hernandez      109223  Shawna Mcdaniel MD         35204
18      30         James Lewis      125538   Patrick Whitehead         96605
19      32      Mr. Carl Moore       80799      Amanda Russell         42293
20      34       Keith Edwards       89451      Amanda Russell         42293
21      36    Christine Foster      103241  Shawna Mcdaniel MD         35204
22      38      Melissa Barton      129800  Shawna Mcdaniel MD         35204
23      40       Gregory Young       98861   Patrick Whitehead         96605
24      42       Michael Rivas       80418      Amanda Russell         42293
25      44        Tyler Finley      106151  Shawna Mcdaniel MD         35204
26      45          Jenna Carr      114969  Shawna Mcdaniel MD         35204
27      46   Alexander Perkins      101850   Patrick Whitehead         96605
28      47    Nicholas Stevens       55436      Amanda Russell         42293
29      49        Erik Lambert      120372   Patrick Whitehead         96605
30      51      Kristen Romero      119016          Barry Wood         53451
31      52     Stacey Thornton      106513  Shawna Mcdaniel MD         35204
32      53     Christopher Lee       67346         Jennifer Le         43578
33      55          Dean Moore       61951      Amanda Russell         42293
34      57      Latoya Johnson      110597       April Goodwin        103190
35      58        Sheila Lopez       44165      Amanda Russell         42293
36      59           John Wall      131700      Amanda Russell         42293
37      61       Gilbert Hardy       50746         Jennifer Le         43578
38      62       David Jenkins       66919  Shawna Mcdaniel MD         35204
39      64      Brian Williams       56996  Shawna Mcdaniel MD         35204
40      65         Paul Harris      127395  Shawna Mcdaniel MD         35204
41      66      Jennifer Clark      126519      Amanda Russell         42293
42      69         Sharon Webb       85841          Barry Wood         53451
43      70        Richard Ward      125455         Jennifer Le         43578
44      71       Aaron Vaughan      160773         Jennifer Le         43578
45      73        Sheila Reese      160307         Jennifer Le         43578
46      74     Laura Hernandez      114186          Barry Wood         53451
47      75        Jack Schmidt       99563          Barry Wood         53451
48      77  Christopher Nelson       91798      Amanda Russell         42293
49      78      Thomas Wallace      110492      Amanda Russell         42293
50      79        Brandon Moon      108649      Amanda Russell         42293
51      81    Melody Henderson      121015          Barry Wood         53451
52      83          Kim Cooper      115000          Barry Wood         53451
53      84      Timothy Miller      114611          Barry Wood         53451
54      90      Raymond Watson       84053         Jennifer Le         43578
55      92       Emily Sanchez       62881          Barry Wood         53451
56      93      Amanda Simpson       86442  Shawna Mcdaniel MD         35204
57      95      Lorraine Davis       57063  Shawna Mcdaniel MD         35204
58      97       James Hoffman       97310   Patrick Whitehead         96605

In [14]:
result1 = result[['name_emp', 'salary_emp']]
result1

              name_emp  salary_emp
0    Patrick Whitehead       96605
1        April Goodwin      103190
2      Timothy Shields      115784
3         James Spears      115773
4        Brian Hawkins       99228
5     Belinda Anderson       86512
6      Crystal Herrera       50181
7    Christopher Brown      115028
8    Kenneth Maldonado       87878
9            James Kim      113565
10   Christian Johnson      107714
11       Adrian Zavala       77864
12      Heather Murphy      145703
13      Randy Stephens       83142
14         Donna Riley      110222
15      Patricia White       59705
16       Amanda Rivera       97234
17    Kaylee Hernandez      109223
18         James Lewis      125538
19      Mr. Carl Moore       80799
20       Keith Edwards       89451
21    Christine Foster      103241
22      Melissa Barton      129800
23       Gregory Young       98861
24       Michael Rivas       80418
25        Tyler Finley      106151
26          Jenna Carr      114969
27   Alexander Perkins      101850
28    Nicholas Stevens       55436
29        Erik Lambert      120372
30      Kristen Romero      119016
31     Stacey Thornton      106513
32     Christopher Lee       67346
33          Dean Moore       61951
34      Latoya Johnson      110597
35        Sheila Lopez       44165
36           John Wall      131700
37       Gilbert Hardy       50746
38       David Jenkins       66919
39      Brian Williams       56996
40         Paul Harris      127395
41      Jennifer Clark      126519
42         Sharon Webb       85841
43        Richard Ward      125455
44       Aaron Vaughan      160773
45        Sheila Reese      160307
46     Laura Hernandez      114186
47        Jack Schmidt       99563
48  Christopher Nelson       91798
49      Thomas Wallace      110492
50        Brandon Moon      108649
51    Melody Henderson      121015
52          Kim Cooper      115000
53      Timothy Miller      114611
54      Raymond Watson       84053
55       Emily Sanchez       62881
56      Amanda Simpson       86442
57      Lorraine Davis       57063
58       James Hoffman       97310