In [1]:
import pandas as pd

In [2]:
projects_data = {
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'name': ['VoIP Platform', 'Mobile App', 'Billing System', 'Customer Portal', 
             'Analytics Dashboard', 'Network Monitoring', 'Security Module', 
             'Cloud Infrastructure', 'Legacy Migration', 'Internal Training Portal']
}

project_history_data = {
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
    'project_id': [1, 2, 3, 1, 4, 5, 2, 6, 7, 1, 3, 8, 4, 5, 1, 6, 7, 2, 8, 1, 4, 1, 1],
    'developer_id': [1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 3, 6],
    'start_date': ['2023-01-15T00:00:00.000Z', '2023-04-01T00:00:00.000Z', '2023-07-01T00:00:00.000Z', 
                   '2023-01-10T00:00:00.000Z', '2023-04-10T00:00:00.000Z', '2023-09-01T00:00:00.000Z', 
                   '2023-02-01T00:00:00.000Z', '2023-06-15T00:00:00.000Z', '2023-10-01T00:00:00.000Z', 
                   '2023-01-20T00:00:00.000Z', '2023-04-05T00:00:00.000Z', '2023-08-01T00:00:00.000Z', 
                   '2023-03-01T00:00:00.000Z', '2023-07-15T00:00:00.000Z', '2023-11-01T00:00:00.000Z', 
                   '2023-01-25T00:00:00.000Z', '2023-05-01T00:00:00.000Z', '2023-09-01T00:00:00.000Z', 
                   '2023-02-10T00:00:00.000Z', '2023-06-01T00:00:00.000Z', '2023-10-01T00:00:00.000Z',
                   '2023-01-15T00:00:00.000Z', '2023-02-01T00:00:00.000Z'],
    'end_date': ['2023-03-20T00:00:00.000Z', '2023-06-15T00:00:00.000Z', None, 
                 '2023-03-25T00:00:00.000Z', '2023-08-20T00:00:00.000Z', None, 
                 '2023-05-30T00:00:00.000Z', '2023-09-10T00:00:00.000Z', None, 
                 '2023-03-15T00:00:00.000Z', '2023-07-25T00:00:00.000Z', None, 
                 '2023-06-30T00:00:00.000Z', '2023-10-20T00:00:00.000Z', None, 
                 '2023-04-15T00:00:00.000Z', '2023-08-10T00:00:00.000Z', None, 
                 '2023-05-20T00:00:00.000Z', '2023-09-15T00:00:00.000Z', None,
                 '2023-02-28T00:00:00.000Z', '2023-03-10T00:00:00.000Z']
}

In [3]:
project_df = pd.DataFrame(projects_data)
project_history_df = pd.DataFrame(project_history_data)

In [4]:
project_df

   id                      name
0   1             VoIP Platform
1   2                Mobile App
2   3            Billing System
3   4           Customer Portal
4   5       Analytics Dashboard
5   6        Network Monitoring
6   7           Security Module
7   8      Cloud Infrastructure
8   9          Legacy Migration
9  10  Internal Training Portal

In [6]:
project_history_df.head()

,id,project_id,developer_id,start_date,end_date
0,1,1,1,2023-01-15T00:00:00.000Z,2023-03-20T00:00:00.000Z
1,2,2,1,2023-04-01T00:00:00.000Z,2023-06-15T00:00:00.000Z
2,3,3,1,2023-07-01T00:00:00.000Z,None
3,4,1,2,2023-01-10T00:00:00.000Z,2023-03-25T00:00:00.000Z
4,5,4,2,2023-04-10T00:00:00.000Z,2023-08-20T00:00:00.000Z

In [9]:
merge_df = project_df.merge(project_history_df, left_on='id', right_on='project_id', how='left')
merge_df = merge_df[['name', 'id_y']]
merge_df.head()

            name  id_y
0  VoIP Platform   1.0
1  VoIP Platform   4.0
2  VoIP Platform  10.0
3  VoIP Platform  15.0
4  VoIP Platform  20.0

In [12]:
result = merge_df[merge_df['id_y'].isna()][['name']]
result

                        name
23          Legacy Migration
24  Internal Training Portal