In [2]:
import pandas as pd

In [3]:
data = {
    'user_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 
               121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 
               141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160],
    'user_gender': ['female', 'female', 'm', 'male', 'm', 'm', 'f', 'male', 'female', 'female', 'male', 'm', 'f', 'm', 
                   'male', 'male', 'm', 'female', 'male', 'female', 'female', 'm', 'male', 'male', 'f', 'female', 'm', 
                   'female', 'm', 'female', 'female', 'male', 'f', 'm', 'f', 'male', 'f', 'm', 'female', 'm', 'f', 
                   'female', 'female', 'f', 'm', 'f', 'f', 'm', 'f', 'f', 'm', 'm', 'female', 'm', 'female', 'f', 
                   'female', 'female', 'f', 'f'],
    'items': [2, 2, 0, 3, 2, 5, 2, 1, 2, 3, 2, 2, 2, 4, 2, 3, 3, 5, 1, 2, 5, 3, 5, 1, 1, 1, 1, 0, 5, 2, 3, 3, 4, 
             2, 3, 5, 1, 0, 1, 3, 5, 1, 5, 1, 5, 5, 5, 3, 3, 0, 2, 0, 4, 4, 3, 2, 5, 2, 4, 1],
    'price': [24, 192, 130, 194, 65, 136, 53, 162, 144, 130, 155, 65, 199, 145, 89, 190, 161, 151, 145, 17, 47, 56, 
             18, 116, 87, 120, 186, 150, 14, 72, 104, 105, 122, 143, 46, 71, 176, 85, 160, 73, 100, 172, 157, 39, 
             115, 192, 57, 33, 52, 93, 91, 85, 198, 122, 197, 172, 179, 58, 143, 13]
}

In [4]:
df = pd.DataFrame(data)
df.head()

   user_id user_gender  items  price
0      101      female      2     24
1      102      female      2    192
2      103           m      0    130
3      104        male      3    194
4      105           m      2     65

In [9]:
df['income'] = df['items']*df['price']

In [21]:
fem_income = df[(df['user_gender'] == 'female')|(df['user_gender'] == 'f')][['income']].sum()
fem_income

income    10483
dtype: int64

In [20]:
type(fem_income)

numpy.int64